.display {
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 200px;
  border: 1.5px solid black;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.blank {
  width: 270px;
  height: 200px;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.div-heading {
  margin: 5px;
  text-align: center;
}
